@use '@/scss/helpers/color';
$sizes: ('xs', 'sm', 'md', 'lg', 'xl');

$num: -1;
@each $size in $sizes {
  $num: $num + 1;
  $s: 0.0625rem + 0.0625rem * $num;

  .root.#{$size}:not(.vertical) {
    &,
    & .text::before,
    & .text::after {
      border-width: $s 0 0 0;
    }
  }

  .root.#{$size}.vertical {
    &,
    & .text::before,
    & .text::after {
      border-width: 0 $s 0 0;
    }
  }
}

@for $i from 1 to 31 {
  $s: 0.0625rem + 0.0625rem * $i;

  .root.s#{$i}:not(.vertical) {
    &,
    & .text::before,
    & .text::after {
      border-width: $s 0 0 0;
    }
  }

  .root.s#{$i}.vertical {
    &,
    & .text::before,
    & .text::after {
      border-width: 0 $s 0 0;
    }
  }
}

.root {
  &,
  & .text::before,
  & .text::after {
    border-style: solid;
    border-color: var(--divider);
  }

  &:not(.vertical) {
    margin: 0.5rem 0;
  }

  &.vertical {
    margin: 0 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-self: stretch;
  }
}

.root:has(.text) {
  border-width: 0 !important;
}

.text {
  display: flex;
  align-items: center;
  color: var(--text-disabled);

  &::before,
  &::after {
    content: '';
    flex: 1 1 0;
  }

  &::before {
    margin-right: 0.5rem;
  }
  &::after {
    margin-left: 0.5rem;
  }
}

@each $color in color.$colors {
  $light: var(--#{$color}-600);
  $dark: var(--#{$color}-300);

  .root.#{$color} .text {
    color: $light;
  }

  html[data-theme='dark'] .root.#{$color} .text {
    color: $dark;
  }
}

@each $variant in (solid, dashed, dotted) {
  .root.#{$variant} {
    &,
    & .text::before,
    & .text::after {
      border-style: $variant;
    }
  }
}
