$primary: rgb(0, 172, 100);
$primary-varient: rgb(0, 139, 78);
$primary-rgb: 0, 172, 100;
$primary-gradient: linear-gradient(
  90deg,
  rgba(0, 172, 100, 1) 0%,
  rgba(0, 154, 120, 1) 35%,
  rgba(0, 134, 130, 1) 100%
);
$dark-primary: rgb(150, 213, 176);
$dark-primary-rgb: 150, 213, 176;
$dark-primary-gradient: linear-gradient(
  90deg,
  rgba(150, 213, 176, 1) 0%,
  rgba(113, 185, 166, 1) 35%,
  rgba(86, 156, 153, 1) 100%
);

$secondary: rgb(217, 181, 116);
$secondary-rgb: 217, 181, 116;
$secondary-gradient: linear-gradient(
  90deg,
  rgba(217, 181, 116, 1) 0%,
  rgba(154, 167, 107, 1) 35%,
  rgba(99, 148, 111, 1) 100%
);

$black: rgb(18, 18, 18);
$black-rgb: 18, 18, 18;

$white: rgb(255, 255, 255);
$white-rgb: 255, 255, 255;

$yellow: rgb(255, 220, 0);
$yellow-rgb: 255, 220, 0;

$blue: rgb(0, 128, 255);
$blue-rgb: 0, 128, 255;
$dark-blue: rgb(112, 177, 255);
$dark-blue-rgb: 112, 177, 255;

$error: rgb(217, 38, 59);
$error-rgb: 217, 38, 59;
$dark-error: rgb(207, 102, 121);
$dark-error-rgb: 207, 102, 121;
