@use '@/scss/helpers/color.scss';

@font-face {
  font-family: 'Keania One';
  src: url('../../../public/fonts/KeaniaOne-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../../../public/fonts/NotoSansKR-Regular.otf');
}

:root {
  @each $color in color.$colors {
    --#{$color}-50: #{color.getColor($color, '50')};
    @for $i from 1 to 10 {
      $suffix: '#{$i * 100}';
      --#{$color}-#{$suffix}: #{color.getColor($color, $suffix)};
    }
  }

  --media-2xl: 96rem; // 1536px
  --media-xl: 80rem; // 1280px
  --media-lg: 62rem; // 992px
  --media-md: 48rem; // 768px
  --media-sm: 30rem; // 480px
  --media-xs: 20rem; // 320px

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;

  --logo-font: 'Keania One', cursive;
  --main-font: 'NotoSansKR', sans-serif;

  --shadow-umbra-opacity: 0.14;
  --shadow-penumbra-opacity: 0.2;
  --shadow-ambient-opacity: 0.12;

  --color-main: #c41e20;
  --color-sub: #183582;

  --info-main: #0288d1;
  --success-main: #2e7d32;
  --warning-main: #ed6c02;
  --error-main: #d32f2f;
}

html:not([data-theme='dark']) {
  // Theme
  --text-hsl-l: 0%;
  --bg-hsl-l: 100%;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);
  --background-default: #fff;
  --background-paper: #fff;

  --button-active: rgba(0, 0, 0, 0.54);
  --button-hover: rgba(0, 0, 0, 0.04);
  --button-selected: rgba(0, 0, 0, 0.08);
  --button-disabled: rgba(0, 0, 0, 0.26);
  --button-disabled-background: rgba(0, 0, 0, 0.12);

  --divider: rgba(0, 0, 0, 0.12);

  // Alert
  --info-primary: #03a9f4;
  --success-primary: #4caf50;
  --warning-primary: #ff9800;
  --error-primary: #ef5350;
  --info-secondary: #01579b;
  --success-secondary: #1b5e20;
  --warning-secondary: #e65100;
  --error-secondary: #c62828;

  --input-border-color: var(--info-main);
  --input-error-color: var(--error-main);
  --input-valid-color: var(--success-main);
}

html[data-theme='dark'] {
  // Theme
  --text-hsl-l: 100%;
  --bg-hsl-l: 0%;
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-disabled: rgba(255, 255, 255, 0.5);
  --background-default: #121212;
  --background-paper: #121212;

  --button-active: #fff;
  --button-hover: rgba(255, 255, 255, 0.08);
  --button-selected: rgba(255, 255, 255, 0.16);
  --button-disabled: rgba(255, 255, 255, 0.3);
  --button-disabled-background: rgba(255, 255, 255, 0.12);

  --divider: rgba(255, 255, 255, 0.12);

  // Alert
  --info-primary: #01579b;
  --success-primary: #1b5e20;
  --warning-primary: #e65100;
  --error-primary: #c62828;
  --info-secondary: #03a9f4;
  --success-secondary: #4caf50;
  --warning-secondary: #ff9800;
  --error-secondary: #ef5350;

  --input-border-color: var(--info-secondary);
  --input-error-color: var(--error-secondary);
  --input-valid-color: var(--success-secondary);
}

html,
body {
  font-size: 16px;
  font-family: var(--main-font);
  color: var(--text-primary);
  background-color: var(--background-default);
  min-height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

.piic {
  font-family: var(--logo-font) !important;
}

button,
[type='button'],
[role='button'] {
  &[aria-disabled='true'] {
    color: var(--button-disabled);
    background-color: var(--button-disabled-background);
  }
}

// box shadow
[data-shadow='dp01'],
[data-shadow-in='dp01']:hover,
[data-shadow-on='dp01']:active {
  background-color: hsla(0, 100%, 100%, 0.05);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 1px 1px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 3px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp02'],
[data-shadow-in='dp02']:hover,
[data-shadow-on='dp02']:active {
  background-color: hsla(0, 100%, 100%, 0.07);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 2px 2px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 5px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp03'],
[data-shadow-in='dp03']:hover,
[data-shadow-on='dp03']:active {
  background-color: hsla(0, 100%, 100%, 0.08);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 3px 4px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 8px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp04'],
[data-shadow-in='dp04']:hover,
[data-shadow-on='dp04']:active {
  background-color: hsla(0, 100%, 100%, 0.09);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 4px 5px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 10px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp05'],
[data-shadow-in='dp05']:hover,
[data-shadow-on='dp05']:active {
  background-color: hsla(0, 100%, 100%, 0.1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 5px 8px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 14px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp06'],
[data-shadow-in='dp06']:hover,
[data-shadow-on='dp06']:active {
  background-color: hsla(0, 100%, 100%, 0.11);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 6px 10px 0px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 1px 18px 0px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp07'],
[data-shadow-in='dp07']:hover,
[data-shadow-on='dp07']:active {
  background-color: hsla(0, 100%, 100%, 0.115);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 7px 10px 1px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 2px 16px 1px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp08'],
[data-shadow-in='dp08']:hover,
[data-shadow-on='dp08']:active {
  background-color: hsla(0, 100%, 100%, 0.12);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 8px 10px 1px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 3px 14px 2px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp09'],
[data-shadow-in='dp09']:hover,
[data-shadow-on='dp09']:active {
  background-color: hsla(0, 100%, 100%, 0.125);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 9px 12px 1px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 3px 16px 2px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp10'],
[data-shadow-in='dp10']:hover,
[data-shadow-on='dp10']:active {
  background-color: hsla(0, 100%, 100%, 0.13);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 10px 14px 1px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 4px 18px 3px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp11'],
[data-shadow-in='dp11']:hover,
[data-shadow-on='dp11']:active {
  background-color: hsla(0, 100%, 100%, 0.135);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 11px 15px 1px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 4px 20px 3px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp12'],
[data-shadow-in='dp12']:hover,
[data-shadow-on='dp12']:active {
  background-color: hsla(0, 100%, 100%, 0.14);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 12px 17px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 5px 22px 4px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp13'],
[data-shadow-in='dp13']:hover,
[data-shadow-on='dp13']:active {
  background-color: hsla(0, 100%, 100%, 0.1425);

  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 13px 19px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 5px 24px 4px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp14'],
[data-shadow-in='dp14']:hover,
[data-shadow-on='dp14']:active {
  background-color: hsla(0, 100%, 100%, 0.145);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 14px 21px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 5px 26px 4px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp15'],
[data-shadow-in='dp15']:hover,
[data-shadow-on='dp15']:active {
  background-color: hsla(0, 100%, 100%, 0.1475);
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 15px 22px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 6px 28px 5px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp16'],
[data-shadow-in='dp16']:hover,
[data-shadow-on='dp16']:active {
  background-color: hsla(0, 100%, 100%, 0.15);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 16px 24px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 6px 30px 5px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp17'],
[data-shadow-in='dp17']:hover,
[data-shadow-on='dp17']:active {
  background-color: hsla(0, 100%, 100%, 0.15125);
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 17px 26px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 6px 32px 5px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp18'],
[data-shadow-in='dp18']:hover,
[data-shadow-on='dp18']:active {
  background-color: hsla(0, 100%, 100%, 0.1525);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 18px 28px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 7px 34px 6px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp19'],
[data-shadow-in='dp19']:hover,
[data-shadow-on='dp19']:active {
  background-color: hsla(0, 100%, 100%, 0.15375);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 19px 29px 2px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 7px 36px 6px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp20'],
[data-shadow-in='dp20']:hover,
[data-shadow-on='dp20']:active {
  background-color: hsla(0, 100%, 100%, 0.155);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 20px 31px 3px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 8px 38px 7px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp21'],
[data-shadow-in='dp21']:hover,
[data-shadow-on='dp21']:active {
  background-color: hsla(0, 100%, 100%, 0.15675);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 21px 33px 3px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 8px 40px 7px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp22'],
[data-shadow-in='dp22']:hover,
[data-shadow-on='dp22']:active {
  background-color: hsla(0, 100%, 100%, 0.1575);
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 22px 35px 3px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 8px 42px 7px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp23'],
[data-shadow-in='dp23']:hover,
[data-shadow-on='dp23']:active {
  background-color: hsla(0, 100%, 100%, 0.15875);
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 23px 36px 3px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 9px 44px 8px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}

[data-shadow='dp24'],
[data-shadow-in='dp24']:hover,
[data-shadow-on='dp24']:active {
  background-color: hsla(0, 100%, 100%, 0.16);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, var(--shadow-penumbra-opacity)),
    0px 24px 38px 3px rgba(0, 0, 0, var(--shadow-umbra-opacity)),
    0px 9px 46px 8px rgba(0, 0, 0, var(--shadow-ambient-opacity));
}
