@use './color.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

:root {
  --logo-font: 'Keania One', cursive;

  --primary-varient: #{$primary-varient};

  --secondary-color: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --secondary-gradient: #{$secondary-gradient};
}

:root,
:root[data-theme='light'] {
  --primary-color: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --primary-gradient: #{$primary-gradient};
}

:root[data-theme='dark'] {
  --primary-color: #{$dark-primary};
  --primary-rgb: #{$dark-primary-rgb};
  --primary-gradient: #{$dark-primary-gradient};
}

html,
body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.piic {
  font-family: var(--logo-font) !important;
}
