@use '@/scss/helpers/mixin';

$max-width: 1400px;

.footer {
  min-width: 463px;
}

.header__wrapper,
.main,
.footer__wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.header__wrapper {
  max-width: calc($max-width - 32px);
}

.header {
  backdrop-filter: blur(2px);
  transition: ease all 0.1s;
  &.transparent:not(:hover, .menu-opened) {
    border-width: 0;
    background: none;
  }
}

.header__wrapper {
  @include mixin.flex;
  align-items: center;
  gap: 1rem;
  &,
  & > * {
    height: 48px;
  }
}

.header__logo {
  $logo-size: 48px;

  font-size: $logo-size;
  height: $logo-size;
  line-height: $logo-size;
}

.header-menu {
  margin: 0 auto;
}

.header-menu [role='tablist'] {
  @include mixin.flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header-menu [role='tablist'] [role='tab'] {
  position: relative;
  padding: 0 0.5rem;
  & a {
    display: inline-block;
    color: inherit;
    height: 80px;
    line-height: 80px;
    margin-top: -16px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: calc(0.5rem);

    background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%
    );
    width: 0;
    height: 7px;
    transition: ease 0.2s width;
  }

  &:hover {
    &::after {
      width: calc(100% - 1rem);
    }
  }
}

.header-buttons {
  @include mixin.flex;
  align-items: center;
  justify-content: center;
}

.header-buttons__burger {
  display: none;

  width: 48;
  height: 48;
  & > div {
    margin: auto;
  }
}

.header-popover [role='tablist'] {
  & [role='tab'] {
    position: relative;
    &::after {
      position: absolute;
      margin-left: 4px;
      top: 10%;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      transition: ease all 0.2s;
      transform: translate(2px, 4px);
    }

    &:hover::after {
      background: #c41e20;
      transform: translate(0, 0);
    }
  }
}

.header-drawer__menu {
  & [role='tablist'] {
    position: absolute;
    left: 0;
    right: 0;
    transition: ease all 0.2s;

    &[data-fade='in'] {
      opacity: 1;
    }

    &[data-fade='out'] {
      opacity: 0;
    }
  }

  & [role='tab'] {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    &:first-child {
      flex-grow: 1;
    }

    & a,
    & span {
      cursor: pointer;
      flex-grow: 1;
      font-weight: bold;
    }

    &:not(:hover) svg {
      transform: translateX(0.5rem);
      opacity: 0;
      transition: ease-in all 0.2s;
    }
    &:hover svg {
      animation-name: showin;
      animation-duration: 0.2s;
      animation-timing-function: ease-out;
    }
  }
}

@keyframes showin {
  from {
    opacity: 0;
    transform: translateX(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header .footer__wrapper {
  @media screen and (max-width: calc($max-width + 1rem)) {
  }
}

.footer-info {
  @include mixin.flex;
  justify-content: space-between;
  font-size: 0.85em;

  & a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-desc__group {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.85em;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.footer-desc__group span {
  flex-shrink: 0;
}

.footer-desc__group [role='separator'] {
  margin: auto 0.5rem;
  height: 12px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    gap: 0;
  }

  .header-menu {
    display: none;
  }

  .header-buttons {
    margin-left: auto;
  }

  .header-buttons__burger {
    display: block;
  }

  .footer-desc__group {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-desc__group [role='separator'] {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footer-info {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
