@use '@/scss/helpers/mixin';

$max-width: 1400px;

.inherit {
  color: inherit;
}

.footer {
  min-width: 463px;
}

.header__wrapper,
.main,
.footer__wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.header__wrapper {
  max-width: calc($max-width - 32px);
}

.header {
  transition: ease all 0.1s;
  &.transparent:not(:hover, .menu-opened) {
    border-width: 0;
    background: none;
  }
}

.header__wrapper {
  @include mixin.flex;
  align-items: center;
  gap: 1rem;
  &,
  & > * {
    height: 48px;
  }
}

.header__logo {
  $logo-size: 48px;

  font-size: $logo-size;
  height: $logo-size;
  line-height: $logo-size;
}

.header-menu {
  margin: 0 auto;
}

.header-menu [role='tablist'] {
  @include mixin.flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header-menu [role='tablist'] [role='tab'] {
  position: relative;
  padding: 0 0.5rem;
  & a {
    display: inline-block;
    color: inherit;
    height: 80px;
    line-height: 80px;
    margin-top: -16px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: calc(0.5rem);

    background-image: linear-gradient(
      to bottom,
      black 50%,
      rgba(0, 0, 0, 0) 50%
    );
    width: 0;
    height: 7px;
    transition: ease 0.2s width;
  }

  &:hover {
    &::after {
      width: calc(100% - 1rem);
    }
  }
}

.header-buttons {
  @include mixin.flex;
  align-items: center;
  justify-content: center;
}

.header-buttons__burger {
  display: none;

  width: 48;
  height: 48;
  & > div {
    margin: auto;
  }
}

.footer__wrapper {
  @media screen and (max-width: calc($max-width + 1rem)) {
  }
}

.footer-info {
  @include mixin.flex;
  justify-content: space-between;
  font-size: 0.85em;

  & a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-desc__group {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.85em;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.footer-desc__group span {
  flex-shrink: 0;
}

.footer-desc__group [role='separator'] {
  margin: auto 0.5rem;
  height: 12px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    gap: 0;
  }

  .header-menu {
    display: none;
  }

  .header-buttons {
    margin-left: auto;
  }

  .header-buttons__burger {
    display: block;
  }

  .footer-desc__group {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-desc__group [role='separator'] {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footer-info {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
