@use '@/scss/helpers/shadow';

.root {
  position: relative;
}

.backdrop {
  position: fixed;
  z-index: 1199;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-property: opacity;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;

  &[data-open='true'] {
    opacity: 1;
  }
}

.body {
  position: fixed;
  z-index: 1200;
  background-color: var(--background-default);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include shadow.useShadow(2);

  opacity: 0;
  transition-property: opacity transform;

  &[data-position='top'] {
    height: fit-content;
    transform: translateY(-100%);
  }
  &[data-position='bottom'] {
    height: fit-content;
    transform: translateY(100%);
    margin-top: auto;
  }
  &[data-position='left'] {
    width: fit-content;
    transform: translateX(-100%);
  }

  &[data-position='right'] {
    width: fit-content;
    transform: translateX(100%);
    margin-left: auto;
  }

  &[data-open='true'] {
    opacity: 1;
    transform: translate(0, 0);
  }
}
